
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 895px;
}
/* Navigation */
nav {
    position: fixed;
    background-color: #000;
    width: 640px;
    color: #fff;
    font-family: sans-serif;
    height: 60px;
    font-weight: bolder;
    background-size: 5%;
    margin-left: 1em;
    z-index: 1;
}
.nav {
    position: fixed;
    left: 615px;
    top: 15px;
    max-height: 30px;
}
.brand_name {
    font-size: 20px;
    padding-left: 16px;
    font-family: sans-serif;
}
/* Header */
header {
    background: url(../images/purple-bg.jpeg) no-repeat;
    height: 960px;
    color: #fff;
    margin-bottom: -30em;
    margin-left: 1em;
}
.headerlink {
    color: #fff;
    text-decoration:none;
    font-family: sans-serif;
    font-size: 25px;
    
    padding: 15px 30px;
    position: absolute;
    left: 250px;
    top:350px;
}
.be {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 60px;
    position: absolute;
    left: 230px;
    top: 120px;
    margin: 1em;
}
.random {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    left: 200px;
    top: 200px;
}
/* Body */
p {
    font-family: sans-serif;
    padding: 1em;
    max-width: 640px;
    margin-left: 1em;
    line-height: 1.5em;
}
h2 {
    margin-top: 2em;
    margin-left: 1em;
}
.gallery {
    border-top: 1px solid lightgrey;
    max-width: 640px;
    padding-top: 20px;
}
a {
    color: black;
    border: 3px solid #fff;
}

.headerlink:hover {
    background-color:white;
    color:black;
}
.project1 {
    position: relative;
    background-image: url(../images/1-cocktail.jpeg) ;
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin: 0px 5px 5px 1em;
}
.project1:hover {
     background:white;
     color:black;
}
.project2 {
    position: relative;
    background-image: url(../images/2-disco.jpeg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin: 0px 5px 5px 0px;
}
.project2:hover {
     background:white;
     color:black;
}
.project3 {
    background-image: url(../images/3-bookstore.jpeg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin: 0px 5px 5px 1em;
}
.project3:hover {
     background:white;
     color:black;
}
.project4 {
    background-image: url(../images/4-traffic.jpeg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin: 0px 5px 5px 0px;
}
.project4:hover {
     background:white;
     color:black;
}
.project5 {
    background-image: url(../images/5-concert.jpg) ;
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin: 0px 5px 5px 1em;
}
.project5:hover {
     background:white;
     color:black;
}
.project6 {
    background-image: url(../images/6-nightlife.jpg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin:  0px 5px 5px 0px;

}
.project6:hover {
     background:white;
     color:black;
}
.project7 {
    background-image: url(../images/7-bar.jpg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin:  0px 5px 5px 1em;
}
.project7:hover {
     background:white;
     color:black;
}
.project8 {
    background-image: url(../images/stones.jpg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin:  0px 5px 5px 0em;
}
.project8:hover {
     background:white;
     color:black;
}
.project9 {
    background-image: url(../images/lawn.jpg);
    padding: 140px 114px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin:  0px 5px 50px 1em;
}
.project9:hover {
     background:white;
     color:black;
}
.project10 {
    background-image: url(../images/glacier.jpg);
    padding: 140px 110px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    float: left; margin:  0px 5px 50px 0em;
}
.project10:hover {
     background:white;
     color:black;
}
/* Footer */
footer {
    text-align: center;
    padding: 1em;
    margin: 1em;
    border-top: 1px solid lightgrey;
    width: 640px;
    clear: both;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
